.article{
    margin-bottom: 70px;
}

.article figure{
    width: 100%;
    margin-bottom: 40px;
}

.article figure img{
    width: 100%;
    height: 383.65px;
}

.article p{
    font-weight: var(--weight3);
    font-size: var(--size4);
    color: var(--grey2);
    margin-top: 20px;
}